html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.font-link {
  font-family: 'Protest Strike', regular;
}

.font-link2 {
  font-family: 'Modak', regular;
}

.font-link3 {
  font-family: 'Lato', regular ;
}



body {
  color: #100F0F;
  background: #f6f4e8;
  font: 16px/1.6 'Muli', sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1
 {
 font-family: 'Protest Strike';
  font-weight: 400;
  margin: 0 0 20px;
  color: #100F0F;
}

p {
  font-family: 'Lato';
  font-size: large;
}

.button {

background-color: #FBE058;
color: #100F0F;
border: none;
border-radius: 40px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 70px;
padding-right: 70px;
font-size: 35px;
font-family: 'Protest Strike';
text-align: center;



}
.button:hover {
  background-color: #B70A16; 
  
}



#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #f6f4e8;
  transition: all 0.5s linear;
}

#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}

#header .navbar-brand {
  color: #100f0f;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 50px;
  line-height: 1.6;
}

#header .navbar-collapse {
  flex-grow: 0;
}

#header .navbar-collapse .navbar-nav {
  font-size: 35px;
  line-height: 20px;
  
}

#header .navbar-collapse a:last-child {
  padding-right: 0;
}

#header .navbar-collapse a {
  color: #100F0F;
  position: relative;
}

#header .navbar-collapse a:hover,
#header .navbar-collapse a.active {
  background: none;
  color: #b70a16;
}

#header .navbar-collapse a:hover:before,
#header .navbar-collapse a.active:before {
  right: 7px;
  left: 8px;
  opacity: 1;
}

#header .navbar-collapse a:before {
  content: '';
  background: #b70a16;
  height: 1px;
  position: absolute;
  bottom: 7px;
  left: -20px;
  right: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

#header .navbar-collapse .navbar-nav {
  float: none;
}

#header .navbar-collapse .nav-item {
  float: none;
  display: block;
  padding: 7px 0;
}
.hero-image {
  background-image: url("/public/philip.jpg");
  background-color: #cccccc;
  
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
  
  height: 80vh;
  padding: 0 20px;
  
}









  


